.side-bar-container {

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99;
    transition: opacity .1s;
}

#toggle-on {
    opacity: 1;
    z-index: 4;
}


#toggle-off {
    opacity: 0;
    z-index: -4;
}

#slide-on {
    left: 0px;
}

#slide-off {
    left: -550px;
}

.side-bar-cover {
    display: block;
    position: relative;
    z-index: -6;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.312);
    backdrop-filter: blur(4px);
    cursor: pointer;
}


.side-bar {
    width: 550px;
    height: 100%;
    position: absolute;
    transition: left .2s;
    overflow: auto;
}

.side-bar-header{
    width: 550px;
    height: 360px;
    position: fixed;
}
.side-bar h1 {
    width: 100%;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.side-bar h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}

span {
    font-size: 18px;
    font-weight: 500;
}

.side-bar p{
 margin-top: 0;
}

.project-specs {
    width: 100%;
    display: flex;
}

.project-lang {
    width: 25%;
    height: 60px;
    margin-left: 5.33%;
    border: .5px solid #28272544;
    border-radius: 5px;
}

.project-lang h3 {
    margin: 0;
    margin-top: 7px;

}

.project-lang h4 {
    margin: 0;
    margin-top: 3px;
    font-weight: 500;
}


#new-commit {
    width: 60%;
    height: 50px;
    background: none;
    border: 1px solid #38383a79;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 400px;
    cursor: pointer;
    margin-top: 30px;
}


.commit-card-container {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 380px;
    padding-bottom: 50px;
}

.syntax-card {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 7px;

}

.syntax-card h3 {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;

}

.syntax-card h4 {
    width: 35%;
    margin: 0;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 900;
    border-right: 1px solid ;
    letter-spacing: -.5px;

}

.commit-display {
    height: 80%;

    overflow: hidden;
}

.highlighter {
    width: 100%;
    height: 170px;

    text-align: left;
    text-indent: 7px;

    overflow-y: hidden;
    margin: 0;
    padding: 0;


}

.commit-button-container {
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.commit-button {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    text-align: center;
    border-radius: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    padding: 1.5px;
 
}

#delete {
    background-color: #A56262;
}

#edit{
    background-color: #d58b0a;
   
}

.commit-icon {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(21, 146, 255);
}

.commit-button img {
    width: 65%;
    margin: 0px;

}