.user-tab {

    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: left;
}


/* .nav-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 80%;
} */



.user-tab h1 {
    width: 30%;
    height: auto;
    letter-spacing: 1px;
    margin: 0;
}

.user-info-container {
   width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #63512f2b;
    border-radius: 7px;
}

.user-icon{
    /* width: 10%; */
}


.user-icon h2 {
    font-size: 27px;
    font-weight: 400;
    margin: 0;
  
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px #38383a83;
}


.user-icon p {
    font-size: 16px;
    font-weight: 00;
    margin-top: 10px;
    margin-bottom: 0;
}