.user-tab {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: left;
}


/* .nav-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 80%;
} */



.user-tab h1 {


    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;

}

.user-info-container {
   width: 90%;
    height: 70%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid #63512f2b;
    border-radius: 15px;


}

.user-icon{
    width: 15%;
    

}


.user-icon h2 {
   
    margin-left: 35%;
    font-size: 33px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0;
   
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px #38383a45;

}


.user-icon p {
    
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}